<mat-toolbar color="primary" class="flex-1">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Home"
    (click)="onHomeIconClicked()"
  >
    <mat-icon>home</mat-icon>
  </button>
  <span>Blog APP </span>
  <div class="flex justify-center my-4 mx-3">
    <button mat-raised-button (click)="CreateClicked()">Create Posts</button>
  </div>
  <div class="flex justify-center my-4 mx-3">
    <button mat-raised-button (click)="CreateTagClicked()">Create Tags</button>
  </div>
  <div class="flex justify-center my-4 mx-3">
    <button mat-raised-button (click)="TagsClicked()">Tags table</button>
  </div>
</mat-toolbar>
